h1{
 
  font-size: 500px;
  margin: 50px;
  margin-bottom: 30px;
  font-family: 'Times New Roman', Times, serif;
  background-color: aqua;
 
} 
 
input{
  width: 100%;
}

.items-container{
  text-align: left;
}

.kg-row{
  margin: 10px 5px;
}

.kg-button{
  min-width: 80px;
}

.kg-buttons{
margin-right: 113px;
min-width: 80px;

}