h1{
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: aqua;
  background-color: black;
}

input{
  width: 100%;
}

.items-container{
  text-align: left;
}

.kg-row{
  margin: 10px 5px;
}

.kg-button{
  min-width: 80px;
}